<div class="dh-image-gallery-element col-xs-6 col-sm-4 col-md-3">
  <%= link_to(render_essence_view(image_gallery_element,
                                  { image_size: '250x250', crop: true },
                                  { class: 'dh-image-gallery-image' }),
              image_gallery_element.essence.picture_url,
              data: { toggle: 'lightbox', gallery: 'image-gallery' }) %>
</div>
