<%# Thumbnails are loaded via JavaScript, replacing the hourglass image.
    Thumbnails are 4x3, hopefully. %>
<div class="dh-vimeo-gallery-element col-xs-6 col-sm-4 col-md-3">
  <%= link_to(extract_vimeo_source(vimeo_gallery_element.ingredient),
    data: { toggle: 'lightbox', gallery: 'vimeo-gallery' }) do %>
    <%= image_tag('hourglass.png',
      data: { id: extract_vimeo_id(vimeo_gallery_element.ingredient) }) %>
    <span class="glyphicon glyphicon-play-circle"></span>
  <% end %>
</div>
