<figure class="dh-gallery-item col-xs-6 col-sm-4 col-md-3 ">
  <a href="<%= "/#{work.urlname}" %>">
    <%= render_work_thumbnail(work) %>
    <figcaption><%= work.title %></figcaption>
  </a>
</figure>
