<main class="dh-works">

  <%= render_elements %>

  <%= a=Alchemy::Page.joins(:essence_dates).includes(:essence_dates).order('alchemy_essence_dates.date DESC') %>

  <%# Paginierung %>

  <% pages = @page.children.published.map do |page| %>
    <% description = page.find_elements(only: 'description').first
       year = description.content_by_name('year') if description
       year = year.essence.date.year if year
      { title: page.title,
        urlname: page.urlname,
        year: year } %>
  <% end %>


  <%# Sort by date, not by year (more data in date) %>
  <%# Use figure and figcaption here %>
  <% sorted_pages = pages.sort_by { |k| k[:year] ? k[:year] : 0 } %>

  <ul>
    <% sorted_pages.each do |page| %>
      <li>
        <%= page[:year] %>
        <%= link_to page[:title], "/#{page[:urlname]}" %>
      </li>
    <% end %>

  </ul>

</main>
