<main class="dh-works">

  <%= render_elements %>

  <% years_with_pages.each do |key, value| %>
    <section class="year">
      <h2><%= key %></h2>
      <div class="row">
        <% value.each do |page| %>
          <a href="<%= "/#{page.urlname}" %>">
            <figure class="col-sm-3">
              <img src="">
              <figcaption><%= page.title %></figcaption>
            </figure>
          </a>
        <% end %>
      </div>
    </section>
  <% end %>


  <%# Paginierung!!! %>

</main>
