<main class="dh-works">

  <%= render_elements %>

  <% get_years.each do |year| %>
    <section class="year">
      <h2><%= year %></h2>
      <div class="row">
        <%= render(partial: '/shared/work', collection: get_works_for(year)) %>
      </div>
    </section>
  <% end %>

</main>
