<main class="dh-works">

  <%= render_elements %>

  <%
    sorted_pages = @page.children
      .joins(:essence_dates)
      .includes(:essence_dates)
      .reorder('alchemy_essence_dates.date DESC')

    pages_hash = HashWithIndifferentAccess.new
    sorted_pages.each do |page|
      date = page.essence_dates[0].date
      year = date.year if date
      key = year ? year.to_s : 'Unknown year'
      unless pages_hash.has_key? key
        pages_hash[key] = Array.new
      end
    end

    sorted_pages.each do |page|
      date = page.essence_dates[0].date
      year = date.year if date
      key = year ? year.to_s : 'Unknown year'
      pages_hash[key].push(page)
    end
  %>

  <% pages_hash.each do |key, value| %>
    <section class="year">
      <h2><%= key %></h2>
      <div class="row">
        <% value.each do |page| %>
          <a href="<%= "/#{page.urlname}" %>">
            <figure class="col-sm-3">
              <img src="">
              <figcaption><%= page.title %></figcaption>
            </figure>
          </a>
        <% end %>
      </div>
    </section>
  <% end %>


  <%# Paginierung!!! %>

</main>
