<%- cache(element) do -%>

  <section class="row dh-section dh-image-gallery">
    <%= render(partial: '/shared/image_gallery_element',
               collection: element.contents.gallery_pictures) %>
  </section>

<%- end -%>
