<%- cache(sound) do -%>

  <article class="dh-element dh-sound">

    <% if sound.ingredients_by_type("File").any? %>
      <audio controls="controls">
        <% sound.ingredients_by_type("File").each do |ingredient| %>
          <source src="<%= ingredient.attachment.url %>" />
        <% end %>
      </audio>
    <% end %>

    <p>
      Download:

      <% if sound.has_value_for?('ogg_file') %>
        <%= link_to 'Ogg',
              sound.value_for('ogg_file').url,
              title: 'Download work as an OGG file' %>
      <% end %>

      <% if sound.has_value_for?('mp3_file') %>
        <%= link_to 'Mp3',
              sound.value_for('mp3_file').url,
              title: 'Download work as an MP3 file' %>
      <% end %>
    </p>

  </article>

<%- end -%>
