<%- cache(element) do -%>

  <article class="dh-element dh-sound">

    <% if element.essence_files.any? %>
      <audio controls="controls">
        <% element.essence_files.each do |essence_file| %>
          <source src="<%= essence_file.attachment_url %>" />
        <% end %>
      </audio>
    <% end %>

    <p>
      Download:

      <% if element.has_ingredient?('ogg_file') %>
        <%= link_to 'Ogg',
              element.content_by_name('ogg_file').essence.attachment_url,
              title: 'Download work as an OGG file' %>
      <% end %>

      <% if element.has_ingredient?('mp3_file') %>
        <%= link_to 'Mp3',
              element.content_by_name('mp3_file').essence.attachment_url,
              title: 'Download work as an MP3 file' %>
      <% end %>
    </p>

  </article>

<%- end -%>
