.dh-navbar-nav {
  margin: 0;
  text-align: center;

  li {
    @media only screen and (min-width: $screen-sm-min) {
      display: inline-block;
      width: 32.5%;
    }
    //float: left;
    text-align: center;

    a {
      padding: 15px;
    }
  }
}
