// fluid media assets
img, audio, video {
  max-width: 100%;
}

main {
  margin-bottom: 30px;
}

.dh-element, .dh-works-year {
  margin-top: 15px;
  margin-bottom: 30px;
}

.dh-gallery-item {
  margin-bottom: 15px;
}
