html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

// fluid media assets
img, audio, video {
  max-width: 100%;
}

main {
  margin-bottom: 30px;
}

.dh-element, .dh-works-year {
  margin-top: 15px;
  margin-bottom: 30px;
}

.dh-gallery-item {
  margin-bottom: 15px;
}

footer {
  bottom: 0;
  height: 30px;
  position: absolute;
  width: 100%;
  right: 0;
  font-size: 13px;
  text-decoration: none;
  font-weight: 300;

  ul {
    text-align: right;
    margin-right: 15px;
    list-style-type: none;
  }
}

#main-wrapper {
    min-height: 100%;
    padding: 0 0 30px;
    position: relative;
}
