@import 'variables';

.dh-work {
  // For description element
  time {
    font-style: italic;
  }

  audio {
    width: 100%;
  }

  .dh-vimeo-queen {
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Centering the container horizontally */
  }

  .dh-slider {
    max-width: 100%;
    .carousel-control {
      color: #dedede;
    }
  }

  .dh-vimeo-gallery-element {
    position: relative;

    // Play icon
    .glyphicon {
      // Show via JavaScript
      display: none;

      font-size: 30px;
      color: #fff;
      text-shadow: 2px 2px #666;

      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
    }
  }

  .dh-description-media {
    font-size: 0.7em;
  }
}
