@import 'variables';

.dh-work {
  // For description element
  time {
    font-style: italic;
  }

  .dh-vimeo-queen {
    max-width: $dh-screen-width;
  }

  .dh-slider {
    max-width: 100%;
  }

  .dh-vimeo-gallery-element {
    position: relative;

    // Play icon
    .glyphicon {
      // Show via JavaScript
      display: none;

      font-size: 30px;
      color: #fff;
      text-shadow: 2px 2px #666;

      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
    }
  }
}
